@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
}

/* header section */

.header {
    background-color: #1f2937;
    height: auto;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.header-top-row {
    display: flex;
    justify-content: space-between;
    /* padding: 1rem 10rem 1rem 10rem; */
    padding: 1rem 0 2rem 0;
}

.header-top-spacer {
    flex: 1;
}

.header-logo {
    flex: 3;
}

.header-links ul {
    list-style-type: none;
    margin: 0px;
    gap: 10px;
    display: flex;
    flex: 3;
}

.header-links.li {
    text-decoration: none;
}

.header-container {
    display: flex;
    padding: 0 0 1rem 0;
}

.header-spacer {
    flex: 1;
}

.center-container {
    display: flex;
    flex: 5;
    flex-wrap: wrap;
}

.header-container-left {
    padding: 4px;
    flex: 1;
    min-width: 200px;
}

.header-container-right {
    padding: 4px;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.profile-img img {
    display: block;
    height: auto;
    margin: auto;
}

.profile-img {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

/* background section */

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 1rem 3rem 1rem;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    flex: 1;
}

.info-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 4;
}

.mid-spacer {
    flex: 1;
    width: 20rem;
}

.info-box {
    border: 2px solid #3882f6;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.info-box img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.text {
    max-width: 100px;
}

.footer {
    margin-top: auto;
    background-color: #1f2937;
    padding: 1rem 0rem 1rem 0rem;
    width: 100%;
    text-align: center;
    color: #f9faf8;
    font-size: 12px;
}